
    <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <div class="row">

        <!-- <div class="container" style=""> -->
    <div class="">
        <div class="widget-body">

 
        <div class="text-center text bold font-16 mar-b-20">
            Profile
            </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
    Name : <span class="text-dim">{{profile.name}}</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
            Father Name : <span class="text-dim">{{profile.fathername}}</span>
        </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
            Roll No : <span class="text-dim">{{profile.rollno}}</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                Address : <span class="text-dim">{{profile.address}}</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                        Contact : <span class="text-dim">{{profile.contact}}
                    </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                        Email : <span class="text-dim">{{profile.email}}</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                        Degree: <span class="text-dim">{{profile.degree}}</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                        Programe : <span class="text-dim">{{profile.programe}}</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                        Smester : <span class="text-dim">{{profile.smester}}</span>
                    </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
            Registration No : <span class="text-dim">{{profile.registrationno}}</span>
        </div>

</div>
</div>
</div>
</div>