<div class="well text-center font-16 bold text" >
Your Profile</div>
    <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <div class="row">

        <!-- <div class="container" style=""> -->
    <div class="">
        <div class="widget-body">

 
        <!-- <div class="text-center text bold font-16 mar-b-20"> -->
            <!-- Profile -->
            <!-- </div> -->
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
    Name :
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
    <span class="font-thin">{{profile.name}}</span>
    </div>
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
        Father Name 
         </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
        <span class="font-thin">{{profile.fathername}}</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
      Roll No 
           </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
       <span class="font-thin">{{profile.rollno}}</span>
        </div>

         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
                Address 
                     </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
      <span class="font-thin">{{profile.address}}</span>
                </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
       Contact 
            </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
      <span class="font-thin">{{profile.contact}}
                    </div>
                   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
     Email 
          </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
       <span class="font-thin">{{profile.email}}</span>
                    </div>
                       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
  Degree     </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
       <span class="font-thin">{{profile.degree}}</span>
                    </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
    Programe      </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
       <span class="font-thin">{{profile.programe}}</span>
                    </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
    Smester 
         </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
       <span class="font-thin">{{profile.smester}}</span>
                    </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mar-b-20">
 Registration No      </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20" > 
       <span class="font-thin">{{profile.registrationno}}</span>
        </div>

</div>
</div>
</div>
</div>