<div class="col-md-12" style="border-bottom:1px solid #eee;">
    <div class="row">
        <nav class="text-center tabo-nav">
            <ul class="nav nav-tabs tabo" >
                <li class="active" ><a class=" font-bold text-black" data-target="#ao" href=""  data-toggle="pill" ><i class="fa fa-square-o"></i> All TimeTable</a><div class="over" id="blockbusiness" ></div>
                    </li>
                    <!-- <li ><a class=" font-bold text-black" data-target="#no" href=""  data-toggle="pill" ><i class="fa fa-clock-o"></i> Send TimeTable</a><div class="over" id="blockbusiness" ></div>
                       </li> -->
                    <!-- <li ><a class=" font-bold text-black" data-target="#po"  data-toggle="pill" ><i class="fa fa-pencil"></i> woking on</a><div class="over" id="blockbusiness" ></div>
                   </li>
                <li ><a class=" font-bold text-black" data-target="#do"  data-toggle="pill" > <i class="fa fa-check"></i> Ready Now</a><div class="over" id="blockbusiness" ></div>
                    </li>
                <li><a class=" font-bold text-black" data-target="#ro"  data-toggle="pill" ><i class="fa fa-shopping-bag"></i> received</a><div class="over" id="blockbusiness" ></div>
                </li> -->
                <!-- <li><a class="font-bold text-black" ng-click="showSearch()" ><i class="fa fa-search"></i></a></li> -->
            </ul>
        </nav>
    </div>
</div>
<!-- <div class="search-bar">
<div class="contact-input">
    <input class="" type="text" name="" placeholder="search by keyword..." ng-model="keyword" style="width:90%; border-radius:2px 0px 0px 2px;" value="">
    <button ng-click="showSearch()" style="width:10%; padding-left:0px; padding-right:0px; border-left:0px; border-radius:0px 3px 3px 0px;" data-error="#err4" class="btn-red-md" name="contact" value=""> <i class="fa fa-remove"></i></button>
</div>
</div> -->
<div class="tab-content tsb-cont col-md-12">
    <div id="ao" class="tab-pane fade active in padding-top-bottom-10">
      <div class="widget col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1 mar-b-20 " ng-repeat="tt in timetable" >
            <div class="widget-body"> 
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mar-b-20">
                    <span class="text-dim font-16 bold text ">{{app.title}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mar-b-20 text bold text-right">
                        <span class="text-dim font-14 text font-thin ">{{app.type}}</span>
                    </div>
                    <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 mar-b-20">
                            <span class="">{{app.body}}</span>
                    </div> -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                            <span class="text-dim">{{tt.smester}}</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                        <span class="text-dim">{{tt.department}}</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mar-b-20">
                        Date:  <span class="text-dim font-thin">{{tt.date|date:'medium'}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6 mar-b-20 text-right">
                        <a class="btn btn-info" href="http://localhost:6200/{{tt.path}}" download>Download</a>   
                    </div>

            </div>
        </div>
    </div>
    <div id="no" class="tab-pane fade  in padding-top-bottom-10">
       <div class="widget col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1 mar-b-20 ">
            <div class="widget-body"> 
                <form action="" ng-submit="sendTimeTable()">
            <div class="form-group">
                <h3>Send TimeTable</h3>
                </div>
            <div class="form-group">
                <select ng-model="tt.department" name="type" class="form-control">
               <option value="">
               --select deparment--
               </option>
               <option value="CS">
               COmputer Science
               </option>
               <option value="it">Information Technology</option>
                </select>
        </div>
        <!-- <div class="form-group">
            <select ng-model="tt.smester" name="type" class="form-control">
           <option value="">
           --select application type--
           </option>
           <option value="general">
           General
           </option>
           <option value="complain">Complain</option>
            </select>
    </div>
        <div class="form-group">
            <input placeholder="Enter Applicatoin Title" type="text" name="rollno" ng-model="tt.department" id="" class="form-control">
        </div> -->
        <div class="form-group">
            <input placeholder="Enter your Smester" type="text" name="password" ng-model="tt.smester" id="" class="form-control">
        </div>
        <div class="form-group">
            
            <input type="file" name="timetable" id="timetable">
        </div>
        <div class="form-group">
        <button type="button" class="btn btn-primary"><i class="fa fa-cloud-upload"></i> Submit</button>
        </div>
        </form>
           <div id="sendtimetable_r">
           </div> 
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title bold text font-16">Reply Application</h4>
            </div>
            <div class="modal-body">
             <p class="text">{{reply.title}}</p>
             <p class="">{{reply.body}}</p>
             
            </div>
            
          </div>
        </div>
      </div>