<div class="well text-center font-16 bold text" >
Welcome to University of Lahore</div>
<div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 font-thin">
<p class="">

THE UNIVERSITY OF LAHORE
Chartered W4 Category University
Approved by: HEC, PEC, PMDC, Nursing Pharmacy Council, Pakistan Bar Council
</p>
<p>
Founded in 1999 by Mr. M A Raoof, under the auspices of the Ibadat Educational Trust, 
the University of Lahore has created its name in the field of higher education and is regarded
as one of the premier private sector general University in Pakistan with diverse disciplines ranging from
Medicine & dentistry and Engineering to the Arts and Social Sciences. Our strong emphasis on balanced progress and focus on human 
capital has allowed us to grow to a student body of around 22000 across seven purpose built campuses at Lahore, 
Islamabad, Sargodha, Gujrat and Pakpattan with 11 diverse Faculties and 32 Departments. 
</p>
<p>
The University is ranked among the top 500 universities of the world (QS & Times Higher Education Supplement).
We continue to be at the forefront of world research, and continue to strive to produce excellent graduates in Arts,
Business, Biology, Dentistry, Engineering, Information Technology, Language & Literature, Social Sciences, Pharmacy and Medicine.

The University of Lahore (UOL) has played a major role in developing learning and research that would provide
students, wishing to study in the private sector with a wider choice.
Not only a wider choice, but excellence in learning, teaching and research has always been one of the main objectives of the University.</p>
</div>