.font-16{
font-size: 16px;
}
.font-20{
    font-size: 20px;
    }
    .font-30{
        font-size: 30px;
        }
    .mar-b-20{
            margin-bottom: 20px;
    }
    .mar-b-10{
        margin-bottom: 10px;
}
.bold{
    font-weight: bold;
}
.text-dim {
    color: #555;
}
.text{
    color:#30426a; 
}
.padding-top-bottom-10{
    padding-top:10px;
    padding-bottom:10px;
    
}
.font-thin{
    font-weight:300;
}
.navbar-brand{
    padding: 0px;
}
.form-control:input{
    height: 40px !important;
}